<form class="form" action="#" method="post">
  <label class="form__label" for="input"
    >Escribe aquí el nombre del anime que buscas:</label
  >
  <div class="form__container">
    <input
      class="js-input form__input"
      id="input"
      type="text"
      placeholder="Ej. Naruto"
    />
    <div class="form__btn">
      <input
        class="js-search-btn form__btn--search"
        type="submit"
        value="Buscar"
      />
      <button class="js-reset-btn form__btn--reset">Borrar</button>
    </div>
  </div>
</form>
