.header {
  background-color: $ppalColor;
  color: $scndColor;
  font-size: 36px;
  line-height: 42px;
  padding: 25px 10%;
  width: 100%;
  height: 150px;
  
  @include tablet {
    height: 150px;
  }
  &__title {
   width: 300px;
   margin-top: 40px;
    @include tablet {
      width: 450px;
      margin: 20px 0 0 120px;
  } 
}
&__logo{
  display: none;
  @include tablet{
    display: block;
    width: 120px;
    position: absolute;
    left: 10%;
    transform: translateY(-100px);
  }
 
}
  &__menu {
    position: fixed;
    right: -1px;
    top: -5px;
    color: rgb(199, 199, 239);
    font-size: 50px;
    z-index: 999;
    cursor: pointer;
    @include tablet {
      display: none;
    }
  }
}
